:root{
    --aio-input-color:#0069ff;
    --aio-input-transition:.3s;
}
.aio-input {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    background: none;
    border-radius: 4px;
    color: inherit;
    flex-shrink: 0;
    padding: 6px;
    background: #fff;
    gap: 6px;
    font-size: 12px;
}

.aio-input input {
    font-family: inherit;
    font-size: inherit;
}

.aio-input input,
.aio-input textarea {
    font-weight: inherit;
}

.aio-input-rtl {
    direction: rtl;
}

.aio-input-popover {
    font-size: 12px;
    background: #fff;
}

.aio-input-popover .aio-popup-body {
    padding: 0;
}

.aio-input-popover-rtl {
    direction: rtl;
}

.aio-input-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.aio-input-content>.aio-input-value {
    overflow: visible;
}

.aio-input-content>.aio-input-subtext {
    overflow: visible;
}


.aio-input-value {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.aio-input-map-value {
    overflow: visible;
}

.aio-input-subtext {
    display: flex;
    flex: 1;
    font-size: 85%;
    opacity: 0.7;
    align-items: center;
}

.aio-input-before {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aio-input-after {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    white-space: nowrap;
}

.aio-input-color-after {
    padding-inline-end: 6px;
}

.aio-input-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.aio-input-caret {
    display: flex;
}

.aio-input-popup-container {
    position: fixed;
    z-index: 1000000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.aio-input-placeholder {
    opacity: 0.5;
}



.aio-input-tabs-options,
.aio-input-buttons-options {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.aio-input-buttons-options {
    gap: 6px;
}

.aio-input-text-options {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    outline: none;
    border-radius: 4px;
}

.aio-input-list-options {
    position: absolute;
    width: 100%;
    left: 0;
}

.aio-input-select-options,
.aio-input-multiselect-options {
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    outline: none;
    border-radius: 4px;
}

.aio-input-radio-options {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.aio-input-option {
    padding: 3px 12px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: none;
    color: inherit;
    cursor: pointer;
    flex-shrink: 0;
    gap: 6px;
    user-select: none;
}
.aio-input-file-option{
    max-height:60px;
    min-height:36px;
}
.aio-input-file-option-before{
    max-width:60px;
    overflow:hidden;
    height:100%;
}
.aio-input-multiselect-option,
.aio-input-select-option,
.aio-input-radio-option {
    height: 36px;
}

.aio-input-tabs-option {
    justify-content: center;
    overflow: hidden;
    margin: 0 6px;
    padding: 6px;
    height: 100%;
    background: none;
    position: relative;
}

.aio-input-tabs-option-bar {
    content: '';
    position: absolute;
    top: calc(100% - 2px);
    width: 0%;
    height: 0;
    border-bottom: 2px solid;
}


.aio-input-buttons-option {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.aio-input-buttons-option.active {
    color: #fff;
}

.aio-input-tabs-option.active .aio-input-tabs-option-bar {
    width: 100%;
    transition: var(--aio-input-transition);
}

.aio-input-list-option {
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    position: relative;
    opacity: 0.5;
    transform: scale(0.8);
}

.aio-input-list-option.active {
    opacity: 1;
    transform: unset;
    font-weight: bold;
}

.aio-input.disabled .aio-input-option {
    cursor: not-allowed;
    opacity: 0.5;
}

.aio-input-option.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}



.aio-input-tree-option {
    padding: 0;
    gap: 6px;
    position: relative;
}
.aio-input-tree-option-after{
    display:flex;
    align-items: center;
    justify-content: center;
}
.aio-input-select.aio-input-tree-options-button {
    background: none;
    border:none;
}

.aio-input-dropdown-option {
    border-bottom: 1px solid #eee;
}

.aio-input-dropdown-option:last-child {
    border-bottom: none;
}

.aio-input-dropdown {
    max-height: 300px;
}

.aio-input-search {
    padding: 0 6px;
    background: #fff;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height: 36px;
    display: flex;
    border-bottom: 1px solid #ddd;
    align-items: center;
    justify-content: center;
    position: relative;
}

.aio-input-search input {
    outline: 0;
    height: 100%;
    border: none;
    color: inherit;
    background: none;
    width: 100%;
    font-size: inherit;
    padding: 8px;
}

.aio-input-search-icon {
    width: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: inherit;
    height: 36px;
}

.aio-input-file-container {
    width: 100%;
    display:flex;
    flex-direction: column;
    gap:3px;
}

.aio-input-files {
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;
    font-size:12px;
}

.aio-input-file-item {
    display: flex;
    padding: 0 6px;
    height:36px;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.aio-input-file-item-name {
    flex: 1;
    font-size: 90%;
}

.aio-input-file-item-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.aio-input.has-label:before {
    content: attr(data-label);
    background: #fff;
    white-space: nowrap;
    position: absolute;
    top: -8px;
    left: 16px;
    padding: 0 3px;
    box-sizing: border-box;
    font-size: 12px;
    height: fit-content;
}

.aio-input-rtl.aio-input.has-label:before {
    right: 16px;
    left: unset;
}

.aio-input-check-out {
    color: #0069ff;
    border: 1px solid;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 2px;
}

.aio-input-check-out.round {
    border-radius: 100%;
}

.aio-input-radio-option:not(.aio-input-radio-multiple-option) .aio-input-check-out {
    border-radius: 100%;
}

.aio-input-check-in {
    transition: .2s;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: inherit;
    background: inherit;
    background: #0069ff;
}

.aio-input-check-out.checked .aio-input-check-in {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .2s;
}

.aio-input-radio-option:not(.aio-input-radio-multiple-option) .aio-input-check-in {
    border-radius: 100%;
}

.aio-input-multiselect-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.aio-input-tags-container {
    top: 100%;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    border: 1px solid #ddd;
    overflow: hidden;
    cursor: auto;
    border-top: none;
}

.aio-input-tag {
    border-radius: 4px;
    color: #fff;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 2px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    padding:3px;
    cursor: pointer;
    background: #0069ff;
    font-size: 12px;
    flex-shrink: 0;
}

.aio-input-tags-container:not(.disabled) .aio-input-tag.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.aio-input-tags-container.disabled .aio-input-tag.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.aio-input-tag-icon {
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    color: inherit;
    position: relative;
}

.aio-input-tag-text {
    flex: 1;
    overflow: hidden;
}

.aio-input-radio {
    width: 100%;
    padding: 0;
}

.aio-input-radio-subtext {
    padding: 0 12px;
}

.aio-input-tabs {
    padding-bottom: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    border: none;
    font-size: 12px;
}

.aio-input-tabs-content,
.aio-input-buttons-content {
    overflow: hidden;
}

.aio-input-buttons {
    width: 100%;
}

.aio-input-tabs.aio-input-touch ::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

.aio-input-color {
    padding: 0;
}

.aio-input-color input[type=color] {
    min-width: 24px;
}

.aio-input-radio {
    height: unset;
}

.aio-input-text,
.aio-input-password,
.aio-input-number,
.aio-input-multiselect,
.aio-input-select,
.aio-input-date,
.aio-input-time,
.aio-input-file {
    padding: 0 6px;
    width: 100%;
    border: 1px solid #ddd;
    height: 36px;
}
.aio-input-textarea {
    min-height: 72px;
    padding: 6px;
    border: 1px solid #ddd;
}
.aio-input-tags {
    min-height: 30px;
    padding: 6px;
    border: 1px solid #ddd;
}
.aio-input-tags .aio-input-tags-container{
    border:none;
    padding:0;
}
.aio-input-textarea textarea {
    font-family: inherit;
    border: none;
    width: 100%;
    background: none;
    outline: none;
    width: 100%;
    color: inherit;
    box-sizing: border-box;
}

.aio-input-textarea-value {
    height: 100%;
}

.aio-input-text-value,
.aio-input-number-value {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aio-input-text input,
.aio-input-number input,
.aio-input-password input {
    border: none;
    width: 100%;
    background: none;
    outline: none;
    height: 100%;
    color: inherit;
}

.aio-input-password input {
    text-align: center;
}

.aio-input-text-subtext,
.aio-input-password-subtext,
.aio-input-number-subtext,
.aio-input-textarea-subtext {
    top: 100%;
}

.aio-input-checkbox {
    border: 1px solid #ddd;
}


.aio-input-table .aio-input-text {
    height: 100%;
}

.aio-input-color input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.aio-input-color img {
    display: none;
}



.aio-input-color input::-webkit-color-swatch {
    border: none;
    padding: 0;
}





.aio-input-table {
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #eee;
    color: #888;
    padding:0;
    border: 1px solid #eee;
    gap:0;
}

.aio-input-table .aio-input {
    color: inherit;
}

.aio-input-table-unit {
    width: 100%;
    flex: 1;
    overflow: auto;
}

.aio-input-table-header {
    top: 0;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    z-index: 10;
    background: #f8f8f8;
    min-width: fit-content;
    border-bottom: 1px solid #eee;
}

.aio-input-table-title {
    padding: 0 12px;
    font-weight: bold;
    height: 36px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
}

.aio-input-table-title-justify {
    padding: 0;
    justify-content: center;
}

.aio-input-table-row {
    display: flex;
    min-width: fit-content;
    background: #fff;
}

.aio-input-table-cell {
    padding: 6px 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    min-height: 24px;
}

.aio-input-table-cell .aio-input-container {
    width: 100%;
}

.aio-input-table-cell .aio-input {
    width: 100%;
    background: none;
    border: none;
    border-radius: 0;
    background: none;
    height: 100%;
    min-height:30px;
}



.aio-input-table-cell .aio-input input {
    padding: 0;
    background: none;
}

.aio-input-table-cell-justify {
    padding: 0;
    justify-content: center;
}

.aio-input-table-cell-justify>.aio-input input {
    text-align: center;
}

.aio-input-table-toolbar {
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    background: #f8f8f8;
    z-index: 100;
    box-sizing:border-box;
    min-height:36px;
}

.aio-input-table-toolbar-content {
    font-weight: bold;
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;
}

.aio-input-table-toolbar-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    border: none;
    background: none;
}

.aio-input-table-toolbar-popover-header {
    padding: 6px;
    min-height: unset;
}

.aio-input-table-remove {
    border: none;
    width: 36px;
    background: none;
    color: inherit;
    align-items: center;
    display: flex;
}

.aio-input-table-remove-title {
    border: none;
    width: 36px;
    background: none;
    color: inherit;
}



.aio-input-table-border-h {
    height: 1px;
    flex-shrink: 0;
}

.aio-input-table-border-v {
    width: 1px;
    flex-shrink: 0;
}

.aio-input-table-search {
    flex: 1;
    height: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.aio-input-table-search .aio-input {
    background: #fff;
    border: none;
    min-height:30px;
}

.aio-input-table-paging {
    padding: 6px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddd;
}

.aio-input-table-paging-button {
    border: 1px solid #ddd;
    background: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 0 3px;
}

.aio-input-table-paging-button-hidden {
    opacity: 0;
}

.aio-input-table-paging-size {
    width: 60px;
}

.aio-input-table-paging-button.active {
    border: 1px solid #0069ff;
    color: #fff;
    background: #0069ff;
    opacity: 1;
}

.aio-input-date-today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #0069ff;
    color: #fff;
}

.aio-input-date-calendar {
    user-select: none;
    -webkit-user-select: none;
    direction: ltr;
    display: flex;
    flex-direction: column;
    stroke: #333;
    background:#fff;
    color:#333;
}

.aio-input-date-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    direction: ltr;
}

.aio-input-date-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    stroke: inherit;
}

.aio-input-date-footer {
    display: flex;
    justify-content: flex-end;
    direction: ltr;
}

.aio-input-date-footer button {
    background: none;
    font-weight: bold;
    border: none;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    flex: 1;
    margin: 0 1px;
    color: inherit;
}

.aio-input-date-today div {
    display: flex;
    align-items: center;

}

.aio-input-date-calendar svg {
    cursor: pointer;
}

.aio-input-date-select {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}


.aio-input-date-body {
    display: grid;
    flex: 1 1;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

/* custom scrollbar */
.aio-input-scroll::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

.aio-input-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.aio-input-scroll::-webkit-scrollbar-thumb {
    background-color: #b1b9ca;
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
}

.aio-input-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #6f7888;
}

.aio-input-date-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    outline: none;
    background: #fff;
}

.aio-input-date-cell.aio-input-date-disabled {
    box-shadow: none;
    border-radius: 0;
    background: rgba(128, 128, 128, .2);
    color: #fff;
    cursor: not-allowed !important;
}

.aio-input-date-cell.aio-input-date-active {
    background: #0069ff;
    color: #fff;
}

.aio-input-date-cell.today {
    border: 1px solid #0069ff;
}

.aio-input-date-weekday {
    font-weight: bold;
    font-size: 110%;
}



.aio-input-date-cell:not(.aio-input-date-weekday):not(.aio-input-date-space):not(.aio-input-date-disabled):hover {
    position: relative;
    transform: scale(1.2);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    z-index: 100;
}

.aio-input-date-dropdown {
    background: none;
    color: inherit;
    font-size: inherit;
    padding: 0 3px;
    border: none !important;
    width: unset !important;
}




.ai-style-1 {
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, #fff, #ededed);
    border-radius: 4px;
    box-shadow: 1px 2px 7px 0 #8b8b8b59;
}

.ai-style-1:hover {
    border: 1px solid cornflowerblue;
}

.ai-style-2 {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif inherit;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.ai-style-2:active,
.ai-style-2:focus {
    outline: none;
}

.ai-style-2:hover {
    background-position: -20px -20px;
}

.ai-style-2:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.ai-style-3 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.ai-style-3:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.ai-style-3:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.ai-style-3:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.ai-style-4 {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.ai-style-5 {
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

.ai-style-5:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
}

.ai-style-5:focus {
    box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

.ai-style-6 {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.ai-style-6:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .ai-style-6 {
        padding: 0 2.6rem;
    }
}

.aio-input-list {
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    user-select: none;
    font-size: 26px;
}

.aio-input-time{
    direction:ltr;
}

.aio-input-time-popover {
    background: #fff;
    width: fit-content !important;
    font-family: inherit;
    display: flex;
    flex-direction: column;
}

.aio-input-time-popover .aio-input-list {
    border: none;
    width: 72px;
    font-size: 16px;
}

.aio-input-time-popover .aio-input-list:after {
    content: '';
    position: absolute;
    left: 0;
    top: 48px;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 48px;
    pointer-events: none;
}


.aio-input-time-popover .aio-input-time-popover-content {
    direction: ltr;
}

.aio-input-time-popover .aio-input-time-popover-body {
    display: flex;
    padding:12px;
    align-items: center;
    justify-content: center;
}

.aio-input-time-popover .aio-input-time-popover-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aio-input-time-popover .aio-input-time-popover-item-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom:6px;
    border-bottom:1px solid #ddd;
}

.aio-input-time-popover .aio-input-time-popover-footer {
    display: flex;
    padding:12px;
    justify-content: space-around;
    
}

.aio-input-primary-button {
    background: #0069ff;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-family: inherit;
    padding: 4px 24px;
    border:2px solid #0069ff;
}
.aio-input-secondary-button {
    color: #0069ff;
    border-radius: 4px;
    background:#fff;
    border: none;
    font-size: 14px;
    font-family: inherit;
    padding: 4px 24px;
    border:2px solid #0069ff;
}


.aio-input.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.aio-input:disabled {
    cursor: not-allowed;
}

.aio-input-input input:disabled,
.aio-input-input textarea:disabled {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    cursor: not-allowed;
    opacity: 0.5;
}

.aio-input-image-content {
    flex: 1;
    height: 100%;
}

.aio-input-image {
    width: fit-content;
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    border: 1px solid #ddd;
}

.aio-input-image img {
    min-width: 60px;
}

.aio-input-image-remove {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    background: rgba(255, 255, 255, 0.3);
}

.aio-input-image-preview {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
}

.aio-input-image-preview-popup {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aio-input-image-placeholder {
    padding: 12px;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.aio-input-image-value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.aio-input-content-justify {
    flex: none;
    width: fit-content;
}

.aio-input-justify {
    justify-content: center;
}

.aio-input-value-justify {
    flex: none;
    width: fit-content;
    text-align: center;
}

@import url('https://static.neshan.org/sdk/leaflet/1.4.0/leaflet.css');

.aio-input-map-container {
    width: 100%;
    height: 240px;
    position: relative;
    overflow: visible;
    border: 1px solid #ddd;
    font-family: inherit;
    min-height: 240px;
    display:flex;
}
.aio-input-map-container-popup{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    left: 0;
    z-Index: 1000000;
    display:flex;
    flex-direction: column;
}
.aio-input-map-container.not-draggable:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.aio-input-map {
    direction: rtl;
}

.leaflet-control {
    display: none;
}

.leaflet-container a {
    display: none;
}

.aio-input-map-footer {
    width: 100%;
    z-index: 10;
    background: #fff;
    bottom: 0;
    width: calc(100% - 2px);
    border: 1px solid #ddd;
    overflow: visible !important;
    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    border-radius: 16px 16px 0 0;
    align-items: center;
    font-family: inherit;
}

.aio-input-map-address {
    width: 100%;
    font-size: 12px;
    align-items: center;
    text-align: right;
    font-weight: bold;
    flex: 1;
}

.aio-input-map-coords {
    width: 100%;
    font-size: 10px;
    align-items: center;
    text-align: right;
    flex: 1;
}

.aio-input-map-submit {
    border: none;
    background: #0069ff;
    color: #fff;
    width: 100%;
    height: 30px;
    padding: 0 16px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: inherit;
}

.leaflet-marker-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
}

.aio-input-map-marker-text {
    position: absolute;
    top: calc(100% + 16px);
    width: fit-content;
    font-size: 14px;
    white-space: nowrap;
}

.aio-input-map-header {
    display:flex;
    flex-direction: column;
    direction: rtl;
    width: calc(100% - 2px);
    left: 0;
    top: 0;
    padding:0;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4)
}

.aio-input-map-header-open {
    height: 100%;
}

.aio-input-map-title {
    font-size: 14px;
    flex: 1;
    font-weight: bold;
}
.aio-input-map-header-title{
    display:flex;
    align-items:center;
    height:36px;
    padding:0 12px;
    gap:6px;
}
.aio-input-map-close {
    width: 36px;
}
.aio-input-map-header-current{
    display:flex;
    align-items:center;
    justify-content: center;
    width:24px;
    height:24px;
}
.aio-input-map-header-close{
    width:24px;
    height:24px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.aio-input-map-search {
    padding:6px;
    border:none;
    box-sizing: border-box;
    border-radius: 4px;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aio-input-map-serach-results {
    background: rgba(255, 255, 255, 1);
    padding: 12px 0;
    box-sizing: border-box;
    overflow-y: auto;
    margin-top: 3px;
    border-radius: 4px;
    flex: 1;
}

.aio-input-map-search-result {
    padding: 6px 12px;
    box-sizing: border-box;
    font-size: 12px;
    justify-content: center;
    border-bottom: 1px solid #eee;
}

.aio-input-map-serach-result-subtext {
    font-size: 90%;
    color: navy;
}

.aio-input-map-serach-input {
    width: 100%;
    height: 36px !important;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: inherit;
    outline: none;
    min-height:24px !important;
    color: inherit;
    border:1px solid #ddd !important;
    background:#fff !important;
}

.aio-input-map-serach-icon {
    background: none;
    border-radius: 4px 0 0 4px;
    width: 36px;
}

.aio-input-map-current-point {
    width: 36px;
}

.aio-input-file-value {
    justify-content: center;
}

.aio-input-acardion {
    gap: 12px;
    font-size: 12px;
    width: 100%;
    height: fit-content;
    border-radius: 6px;
    position: relative;
    gap: 12px;
    display: flex;
    flex-shrink: 0;
    padding: 12px;
    box-sizing: border-box;
    overflow: hidden;
}
.aio-input-acardion-vertical {
    flex-direction: column;
}
.aio-input-acardion-horizontal {
    flex-direction: row;
    overflow-x: auto;
}
.aio-input-acardion-item{
    position:relative;
}
.aio-input-acardion-option {
    align-items: center;
    border-radius: 6px 6px 6px 6px;
    min-height: 30px;
    padding: 12px;
    height: 60px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 24%);
    position: relative;
    transition:border-radius var(--aio-input-transition);
    background:var(--aio-input-color);
    color:#fff;
    z-index:10;
}

.aio-input-acardion-option.active {
    border-radius:6px 6px 0 0;
    transition:border-radius var(--aio-input-transition);
}

.aio-input-acardion-body {
    background: #f8f8f8;
    border-radius: 0 0 6px 6px;
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 24%);
    position: relative;
    padding: 12px;
    transform: scaleY(1);
    overflow: hidden;
    transform-origin: top;
    transition: transform var(--aio-input-transition), margin-top var(--aio-input-transition);
    margin-top: 0px;
    transform: unset;
    box-sizing: border-box;
}
.aio-input-acardion-body.not-mounted {
    transition: transform var(--aio-input-transition), margin-top var(--aio-input-transition);
    transform: scaleY(0);
    transform-origin: top;
    transform-style: preserve-3d;
    margin-top: -48px;
    padding:0;
}
.aio-input-date-popup {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.aio-input-date-popup-header {
    display: flex;
}

.aio-input-date-popup-body {
    display: grid;
    flex: 1;
}

.aio-input-date-popup-label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aio-input-date-popup-footer button {
    border: none;
    padding: 3px 12px;
    border-radius: 4px;
    background: none;
}

.aio-input-range {
    padding: 0;
}

.aio-input-range-round {
    width: fit-content;
    border-radius: 100%;
}

.aio-input-range-value {
    width: 100%;
    overflow: visible;
}

.ai-range {
    display: flex;
    position: relative;
    user-select: none;
    font-size: 12px;

}

.ai-range-horizontal {
    height: 48px;
    align-items: center;
    width: 100%;
    margin: 0 12px;
}
.ai-range-horizontal .ai-range-groove{
    height:1px;
    width:100%;
    background:#ddd;
}
.ai-range-vertical {
    width: 48px;
    height: 240px;
    justify-content: center;
    margin: 12px 0;
}
.ai-range-vertical .ai-range-groove{
    width:1px;
    height:100%;
    background:#ddd;
}
.ai-range-reverse {
    direction: rtl;
}

.ai-range-round {
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    height: unset;
    border:1px solid #ddd;
}

.ai-range-value-container {
    display: flex;
    align-items: center;
    width: 0;
    height: 0;
    justify-content: center;
    overflow: visible;
    position: absolute;
    z-index: 10;
}

.ai-range-round .ai-range-value-container {
    justify-content: flex-end;
}

.aio-input-handle {
    position: absolute;
    width: 0;
    height: 0;
}

.ai-range-label-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
}

.ai-range-round .ai-range-label-container {
    justify-content: flex-end;
}
.ai-range-labels{
    position:absolute;
}
.ai-range-horizontal .ai-range-labels{
    width:100%;
    height:100%;
}
.ai-range-vertical .ai-range-labels{
    width:100%;
    height:100%;
}
.ai-range-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.ai-range-label > *{
    position:absolute;
}
.ai-range-value {
    padding: 0 16px;
}

.ai-range-point-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
}

.ai-range-point {
    height: 20px;
    width: 20px;
    border-radius: 48px;
    background: #0069ff;
    color:#fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:10px;
}

.ai-range-range {
    position: absolute;
}

.ai-range-scale-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
}

.ai-range-round .ai-range-scale-container {
    justify-content: flex-end;
}

.ai-range-scale {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #999;
    font-size: 12px;
    width: 1px;
    height: 6px;

}

.ai-range-round .ai-range-scale {
    height: 2px;
    width: 6px;
    left: 6px;
}

.ai-range-vertical .ai-range-scale {
    height: 2px;
    width: 6px;
}

.ai-range-fill {
    background: #0069ff;
    position: absolute;
    z-index: 10;
}

.ai-range-horizontal .ai-range-fill {
    height: 4px;
}

.ai-range-vertical .ai-range-fill {
    width: 4px;
}

.aio-input-form {
    width: 100%;
}
.aio-input-form-item{
    border:none;
    padding:0;
}
.aio-input-form-item-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.aio-input-form-item-row {
    display: flex;
    gap: 12px;
}

.aio-input-form-label {
    margin-bottom: 4px;
    display: flex;
    padding: 3px 6px;
}
.aio-input-form-label-star{
    color:red;
    display:flex;
    justify-content: center;
    width:12px;
    font-size:14px; 
    font-weight:bold;
}
.aio-input-form-input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.aio-input-form-input>.aio-input {
    border: 1px solid #ddd;
    min-height: 36px;
}

.aio-input-form-error {
    font-size: 11px;
    color: red;
    display: flex;
    margin: 3px;
    justify-content: flex-start;
    text-align:start;

}
.aio-input-form-footer{
    margin-top:12px;
}
.aio-input-select-value {
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.aio-input-tree {
    background-color: #fff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.aio-input-tree-header {
    background: #f2f2f2;
    padding: 6px 12px;
    position: relative;
}

.aio-input-tree-header button {
    height: 30px;
    gap: 6px;
    display: flex;
    padding: 3px 16px;
    align-items: center;
    justify-content: center;
    background: rgb(23, 105, 187);
    border: none;
    border-radius: 4px;
    color: #fff;
}


.aio-input-tree-body {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.aio-input-tree-row {
    position: relative;
}

.aio-input-tree-body .aio-input-tree-row {
    transition: transform var(--aio-input-transition), margin-top var(--aio-input-transition);
    transition-timing-function: cubic-bezier(.16, 2.02, .84, .96);
    transform: scaleY(1);
    transform-origin: top;
    margin-top: 0px;
}
.aio-input-tree-body.not-mounted{
    /*use in tree animation if dont off padding animation will show not well*/
    padding-top:0 !important;
    padding-bottom:0 !important;
}
.aio-input-tree-body.not-mounted .aio-input-tree-row {
    transition: transform var(--aio-input-transition), margin-top var(--aio-input-transition);
    transform: scaleY(0);
    transform-origin: top;
    transform-style: preserve-3d;
    margin-top: -48px;
}

.aio-input-tree-body.mounted .aio-input-tree-row {
    transform: unset;
}

.aio-input-toggle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.aio-input-toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.aio-input-indent-line {
    stroke: #dbe2e7;
    stroke-dasharray: 1, 3;
}

.aio-input-toggle-line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(50% - 12px);
}

.aio-input-indents {
    height: 100%;
    display: flex;
    position: relative;
}

.aio-input-indent {
    height: 100%;
    position: relative;
}

.aio-input-indent svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.aio-input-indent-6 .aio-input-indent {
    width: 6px;
}

.aio-input-indent-12 .aio-input-indent {
    width: 12px;
}

.aio-input-indent-18 .aio-input-indent {
    width: 18px;
}

.aio-input-indent-24 .aio-input-indent {
    width: 24px;
}

.aio-input-indent-30 .aio-input-indent {
    width: 30px;
}

.aio-input-indent-36 .aio-input-indent {
    width: 36px;
}

.aio-input-indent-42 .aio-input-indent {
    width: 42px;
}

.aio-input-indent-48 .aio-input-indent {
    width: 48px;
}

.aio-input-indent-54 .aio-input-indent {
    width: 54px;
}

.aio-input-indent-60 .aio-input-indent {
    width: 60px;
}

.aio-input-indent-6 .aio-input-toggle {
    width: 6px;
}

.aio-input-indent-12 .aio-input-toggle {
    width: 12px;
}

.aio-input-indent-18 .aio-input-toggle {
    width: 18px;
}

.aio-input-indent-24 .aio-input-toggle {
    width: 24px;
}

.aio-input-indent-30 .aio-input-toggle {
    width: 30px;
}

.aio-input-indent-36 .aio-input-toggle {
    width: 36px;
}

.aio-input-indent-42 .aio-input-toggle {
    width: 42px;
}

.aio-input-indent-48 .aio-input-toggle {
    width: 48px;
}

.aio-input-indent-54 .aio-input-toggle {
    width: 54px;
}

.aio-input-indent-60 .aio-input-toggle {
    width: 60px;
}

.aio-input-size-24 {
    height: 24px;
}

.aio-input-size-36 {
    height: 36px;
}

.aio-input-size-48 {
    height: 48px;
}

.aio-input-size-60 {
    height: 60px;
}

.aio-input-size-72 {
    height: 72px;
}

.aio-input-size-84 {
    height: 84px;
}

.aio-input-size-96 {
    height: 96px;
}

.aio-input-size-108 {
    height: 108px;
}

.aio-input-size-120 {
    height: 120px;
}

.aio-input-check-0{
    position: relative;
    width:16px;
    height:16px;
    flex-shrink:0;
    border-radius:3px;
    border:1px solid;
}
.aio-input-check-0 div{
    position: absolute;
    width:100%;
    height:100%;
}

.aio-input-check-0 div:before{
    content: '';
    position: absolute !important;
    width: 3px !important;
    height: 9px !important;
    transform: rotate(45deg) !important;
    left: 4px !important;
    top: 0px !important;
    border: 3px solid #fff !important;
    border-width: 0px 3px 3px 0px !important;
}
.aio-input-sidemenu{
    color:#444;
    background:#fff;
    width:240px;
}
.aio-input-sidemenu.aio-input-sidemenu-hover{
    width:60px;
    transition: width 0.3s;
}
.aio-input-sidemenu.aio-input-sidemenu-icon{
    width:60px;
}
.aio-input-sidemenu-hover:hover{
    width:240px;
    transition:width 0.3s;
}
.aio-input-sidemenu-before{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:6px;
    width:48px;
}

.aio-input-sidemenu-after{
    padding:0 12px;
    height:100%;
    gap:6px;
}

.aio-input-sidemenu-align{
    display:flex;
    align-items:center;
    justify-content:center;
}

.aio-input-sidemenu-icon{
    border-radius:100%;
}

.aio-input-sidemenu-badge{
    border-radius:16px;
    font-size:10px;
    min-width:18px;
    padding:1px 6px;
}
.aio-input-sidemenu-badge-circle{
    border-radius:16px;
    font-size:10px;
    min-width:18px;
    padding:1px 0;
}

.aio-input-sidemenu-badge-grey{
    color:#eee;
    background:#959595;
}

.aio-input-sidemenu-badge-red{
    color:#fff;
    background:red;
}

.aio-input-sidemenu-badge-yellow{
    color:#333;
    background:#e0bb13;
}
.aio-input-sidemenu-badge-green{
    color:#fff;
    background:#4dc93e;
}
.aio-input-sidemenu-badge-blue{
    color:#fff;
    background:#0069ff;
}
.aio-input-sidemenu-badge-orange{
    color:#fff;
    background:orange;
}
.aio-input-sidemenu-badge-white{
    color:#666;
    background:#fff;
}

.aio-input-sidemenu .aio-input-tree-body-level-1{
    background: rgba(0,0,0,0.03);
}
.aio-input-sidemenu .aio-input-tree-body-level-2{
    background: rgba(0,0,0,0.06);
}
.aio-input-main-color {
    color:var(--aio-input-color);
}
.aio-input-main-bg {
    background:var(--aio-input-color);
}

.aio-input-label{
    position:absolute;
    top:-8px;
    background: #fff;
    z-index:10;
    padding:0 12px;
    font-size:12px;
  }
  .aio-input.ltr .aio-input-label{
    left:16px;
  }
  .aio-input.rtl .aio-input-label{
    right:16px;
  }
  .aio-input-label-required:after{
    content:'*';
    position: absolute;
    color:red;
    font-size:18px;
  }